/*
@import url(//fonts.googleapis.com/css?family=Droid+Serif);
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
*/

@font-face {
    font-family: Yanone Kaffeesatz;
    src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
    font-family: Ubuntu Mono;
    src: url('../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}

@font-face {
    font-family: Droid Serif; /* Имя шрифта */
    src: url('../fonts/Droid_Serif/DroidSerif.ttf');
}

body {
    font-family: 'Droid Serif';
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
}

.remark-slide-content h1 {
    font-size: 3em;
}

.remark-slide-content h2 {
    font-size: 2em;
}

.remark-slide-content h3 {
    font-size: 1.6em;
}

.footnote {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.remark-slide > .center .footnote {
    text-align: left;
}

li p {
    line-height: 1.25em;
}

.red {
    color: #fa0000;
}

.large {
    font-size: 2em;
}

a, a > code {
    color: rgb(249, 38, 114);
    text-decoration: none;
}

code {
    -moz-border-radius: 5px;
    -web-border-radius: 5px;
    background: #e7e8e2;
    border-radius: 5px;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.remark-code-line-highlighted {
    background-color: #373832;
}

.pull-left {
    float: left;
    width: 47%;
}

.pull-right {
    float: right;
    width: 47%;
}

.pull-right ~ p {
    clear: both;
}

#slideshow .slide .content code {
    font-size: 0.8em;
}

#slideshow .slide .content pre code {
    font-size: 0.9em;
    padding: 15px;
}

.white {
    background: #ffffff !important;
}

.white h1, .white h2, .white h3, .white h4 {
    color: #272822 !important;
    line-height: 1.4em;
    text-shadow: none !important;
}

.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}

/*** START Slide-specific styling */

.remark-slide-container:first-child img {
    width: 35%;
}

#slide-data-providers img {
    padding-top: 25px;
    display: block;
    margin: 0 auto;
}


#slide-data-providers img {
    width: 50%;
}

#slide-data-providers img:first-child {
    width: 35%;
}

#slide-data-providers img:last-child {
    width: 80%;
}

#slide-datasets-differences ul {
    text-align: left;
}

#slide-datasets-differences .remark-code, .remark-inline-code {
    padding: 0 4px;
}

#slide-ddf-example img {
    width: 100%;
}

#slide-gapminder-world img, #slide-standards img {
    width: 100%;
}


#slide-goal-statement img {
    width: 35%;
    position: absolute;
    right: 3em;
    bottom: 4em;
}

#slide-goal-description ul > li {
    text-align: left;
}

#slide-goal-description .footnote {
    position: absolute;
    bottom: 3em;
    right: 4em;
}

#slide-dependency-graph img {
    width: 75%;
}
/*** END Slide-specific styling */

/* Two-column layout */
.left-column {
    color: #777;
    width: 20%;
    height: 92%;
    float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
}

.right-column {
    width: 75%;
    float: right;
    padding-top: 1em;
}

.green-text {
    color: #00cc00;
}

.w748 > img {
    width: 748px;
}
.h566 > img{
    height: 566px;
}
